.blue
{
    color:blue;
}

.text_p
{
    font-family: Georgia, serif; font-size:18pt
}

.magenta
{
    color:magenta;
}

.green
{
    text-align:center;
    color:green
}

.small{
    font-size:small;
}